{% for attribute in category.attributes %}
    <div class="container mt-1">
        <label for="{{ attribute.lowercaseName }}" class="form-label">{{ attribute.name }}
            in {{ attribute.unit }}</label>
        <input type="number" min="0" step="0.01" id="{{ attribute.lowercaseName }}" name="{{ attribute.lowercaseName }}"
               class="form-control" required>
    </div>
{% endfor %}

<small id="description" class="form-text text-danger mt-3 pt-3">Please provide {{ category.hint }}!</small>



