<head>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="manifest" href="/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        //delete product
        $(document).ready(function () {
            $('#mass-delete').click(function () {
                let container = $(".delete-checkbox:checked").parent();
                let ids = container.map(function () {
                    return $(this).data("id");
                }).get();

                $.ajax({
                    url: '/delete-products',
                    type: 'POST',
                    data: {
                        'product_ids': ids,
                    },
                    success: function (data) {
                        container.remove();
                    },
                    error: function (jqXHR) {
                    }
                });
            });
        });
    </script>
    <title>Scandiweb Junior Developer Test Task </title>
</head>

<body class="container">

<div class="header row mt-3 border-bottom border-2 p-3">
    <h1 class="col">Products</h1>
    <div class="col-md-3 text-end">
        <a href="/add-product" class="btn btn-lg btn-success">ADD</a>
        <a href="#" id="mass-delete" class="btn btn-lg btn-danger ">MASS DELETE</a>
    </div>
</div>

<ul class="container mt-3 py-5">
    <div class="row ">
        {% for product in products %}
            <li data-id="{{ product.id }}" class="col-lg-2 card m-3  pt-3">
                <input class=" col-6 form-check-input mt-0 me-2 delete-checkbox" type="checkbox">
                <div class="container">
                    <h4 class="card-title col m-3 pb-2">{{ product.sku|e }}</h4>
                    <h5>{{ product.name|e }}</h5>
                    <h6>Price: {{ product.price|e }}$ </h6>
                </div>

                <div class="container">
                    <h6>Description:</h6>
                    {% for attributeValue in product.attributeValues %}
                        <p>{{ attributeValue.attribute.name|e }}
                            : {{ attributeValue.value|e }} {{ attributeValue.attribute.unit|e }}</p>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </div>
</ul>
<footer class="footer border-top border-2 mt-3">
    <p class="text-center py-3">Scandiweb test assignment</p>
</footer>
</body>
