{% include "head.html.twig" %}

<body class="container">
<div class="header row mt-3 border-bottom border-2 p-3">
    <h1 class="col">Products</h1>
    <div class="col-md-3 text-end">
        <a href="/add-product" class="btn btn-lg btn-success">ADD</a>
        <a href="#" id="mass-delete" class="btn btn-lg btn-danger ">MASS DELETE</a>
    </div>
</div>

<ul class="container mt-3 py-5">
    <div class="row ">
        {% for product in products %}
            <li data-id="{{ product.id }}" class="col-lg-2 card m-3  pt-3">
                <input class=" col-6 form-check-input mt-0 me-2 delete-checkbox" type="checkbox">
                <div class="container">
                    <h4 class="card-title col m-3 pb-2">{{ product.sku|e }}</h4>
                    <h5>{{ product.name|e }}</h5>
                    <h6>Price: {{ product.price|e }}$ </h6>
                </div>

                <div class="container">
                    <h6>Description:</h6>
                    {% for attributeName, attributeValue in product.attributes %}
                        <p>{{ attributeName|capitalize|e }}: {{ attributeValue|e }} {{ product.unit}}</p>
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </div>
</ul>
{% include "footer.html.twig" %}

